<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fake News 📰 Detection System</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container">
    <h1 class="title">Fake News Detector</h1>

    <form action="{{ url_for('predict') }}" method="POST" class="form-box">
      <textarea name="message" placeholder="Paste or type your news text here..." rows="6" required>{{ message if message else '' }}</textarea>
      <button type="submit" class="btn-primary">Check News</button>

      	<div class="result-box">
			{% if prediction == ['FAKE'] %}
				<h2 class="result fake">⚠️ This looks like <span>Fake News</span></h2>
			{% elif prediction == ['REAL'] %}
				<h2 class="result real">✅ This looks like <span>Real News</span></h2>
			{% endif %}

			{% if confidence %}
				<p class="confidence">Confidence: {{ confidence }}%</p>
			{% endif %}
		</div>

    </form>
  </div>
</body>
</html>
